# Metakocka API credentials.
# How to get them: https://metakocka.freshdesk.com/en/support/solutions/articles/3000106126
METAKOCKA_COMPANY_ID=
METAKOCKA_SECRET_KEY=

# Optional
# METAKOCKA_BASE_URL=https://main.metakocka.si/rest/eshop/v1
# METAKOCKA_TIMEOUT_MS=30000
